{% extends 'layouts/default.njk' %}

{% block body %}

<div class="wrapper">
  {% include 'partials/nav.njk' %}
  {% include 'partials/snippets.njk' %}

  <section class="snippet-content">
    <div class="actions">
      <a href="#" class="edit" data-modal-open="#edit-snippet">Editar</a>
      <form action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=DELETE" method="POST">
        <button type="submit">Excluir</button>
      </form>
    </div>

    <h1>{{ currentSnippets.title }}</h1>
    <div class="content">{{ currentSnippet.formatedContent | safe }}</div>
  </section>

  <div class="modal" id="edit-snippet">
    <form action="/app/categories/{{ activeCategory }}/snippets/{{ currentSnippet.id }}?_method=PUT" method="POST" class="modal-content">
      <input type="text" name="title" placeholder="Titulo da página" value="{{ currentSnippet.title }}">
      <div class="content-container">
        <textarea name="content" class="mde">{{ currentSnippet.content}}</textarea>
      </div>
      <button type="submit">SALVAR SNIPPET</button>
      <a href="#" data-modal-close="#edit-snippet">CANCELAR</a>
    </form>
  </div>

</div>

{% endblock %}
